<!--color: #60482a;  #ff5e73;-->
{% extends "layout.html" %}
{% block content %}
<div class="container1" style="align-content: center; ">
    <div class="post" style="padding: 10px 0px 0px 0px; ">
        <p style="font-family: 'Lemon', cursive; color: #60482a; ">
            You can share any beautiful, interesting or amazing things here.<br>
            Let discover the amazing universe together!<br>
            Stay <span style="color: #ff5e73">cu</span>rious!
        </p>
            <a class="welcome-enter" href="{% url 'home' %}" style="font-family: 'Lemon', cursive;">
                Enter
            </a>
    </div>
</div>
{% endblock %}}